{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic"
        }
      }
    ]
  ],
  "plugins": [
    "inline-react-svg",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@src": "./src",
          "@public": "./public"
        },
        "extensions": [".js", ".jsx", ".tsx", ".ts"]
      }
    ],
    "@emotion/babel-plugin",
    "@babel/plugin-transform-runtime"
  ],
  "env": { "production": { "plugins": ["@emotion"] } }
}
